<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Deétails du patient</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center">
  <div class="w-full max-w-7xl p-6 bg-white shadow-lg rounded-lg mt-10">
    <h1 class="text-3xl font-bold text-center mb-6">Détails</h1>
    <div class="space-y-2">
      <p><strong>Nom:</strong> {{ patient['name'] }}</p>
      <p><strong>Date de naissance:</strong>
        {% if patient['date_of_birth'] %}
          {{ patient['date_of_birth'] }}
        {%else%}
          Aucune
        {%endif%}
        </p>
      <p><strong>Adresse:</strong> 
        {% if patient['adresse']%}
          {{ patient['adresse'] }}
        {%else%}
          Aucune
        {%endif%}   
      </p>
      
    </div>
    <h2 class="text-2xl font-bold mt-8 mb-4">Visits</h2>
     {% if visits %}
    <table class="min-w-full w-full table-auto border-collapse">
        <thead class="table-header">
          <tr id="tableHeader">
              <th  class="text-left p-2 border-b">Date</th>
              <th  class="text-left p-2 border-b">Age (annee)</th>
              <th  class="text-left p-2 border-b">Age (mois)</th>
              <th  class="text-left p-2 border-b">Age (jours)</th>
              <th  class="text-left p-2 border-b">Température</th>
              <th  class="text-left p-2 border-b">Taille</th>
              <th  class="text-left p-2 border-b">Poids</th>
              <th  class="text-left p-2 border-b">Hypothese de diagnostique</th>
              <th  class="text-left p-2 border-b">Bilan</th>
              <th  class="text-left p-2 border-b">Résultat du bilan</th>
              <th  class="text-left p-2 border-b">Ordonnance</th>
              <th  class="text-left p-2 border-b">Signature</th>
          </tr>
        </thead>
        <tbody id="resultsTable" class="text-black-300 text-sm">
        <!-- Results will be populated here -->
         {% for visit in visits %}    
          <tr>
                  <td class="p-2 border-b">{{visit['created_at']}}</td>
                  <td class="p-2 border-b">{{visit['age_years']}} ans</td>
                  <td class="p-2 border-b">{{visit['age_months']}} mois</td>
                  <td class="p-2 border-b">{{visit['age_days']}} jours</td>
                  <td class="p-2 border-b">{{visit['temperature']}} °C</td>
                  <td class="p-2 border-b">{{visit['taille']}} m</td>
                  <td class="p-2 border-b">{{visit['poids']}} kg</td>
                  <td class="p-2 border-b">{{visit['hypothese_de_diagnostique']}}</td>
                  <td class="p-2 border-b">{{visit['bilan']}}</td>
                  <td class="p-2 border-b">{{visit['resultat_bilan']}}</td>
                  <td class="p-2 border-b">{{visit['ordonnance']}}</td>
                  <td class="p-2 border-b">{{visit['signature']}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
      <p class="text-gray-500">No visits recorded yet.</p>
    {% endif %}
    <a href="/" class="inline-block mt-8 text-blue-500 hover:underline">Retour page principale</a>
  </div>
</body>
</html>